{% extends "layouts/main.njk" %}

{% set pageTitle = "Application complete" %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">Application complete</h1>
          <div class="govuk-panel__body">Reference number<br><strong>CAM-12345</strong></div>
        </div>

        <p class="govuk-body">We have sent you a confirmation email.</p>

        <h2 class="govuk-heading-m">Prototype data</h2>
        <pre class="app-prototype-data">{{ data | json }}</pre>
      </div>
    </div>
  </div>
{% endblock %}
