{% extends "layouts/main.njk" %}

{% set pageTitle = "Page not found" %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page not found</h1>
        <p class="govuk-body">Check the URL or go back to the prototype index.</p>
        <p class="govuk-body"><a class="govuk-link" href="/">Prototype index</a></p>
      </div>
    </div>
  </div>
{% endblock %}
